* {
	margin: 10;
	padding: 0;
	box-sizing: border-box;
}
.container {
	background-color: #C80000;
	border: 1px solid;
	max-width: 280px;
	height: 400px;
	border-radius: 5px;
	margin: auto;
}
.wrapper {
	position: relative;
	height: 115px;
	border-bottom: 1px solid grey;
}
.upper-content {
	position: absolute;
	background-color: #fff;
	width: 210px;
	height: 30px;
	left: 30px;
	top: 25px;
	border-radius: 18px;
}
p {
	margin: 7px auto;
	text-align: center;
	letter-spacing: 5px;
	color: #C80000;
}
.triangle {
	position: absolute;
	width: 38px;
	border-left: 36px solid transparent;
	border-right: 36px solid transparent;
	border-bottom: 40px solid #fff;
	left: 103px;
	bottom: 0;
}